{% extends "layout.twig" %}

{% block content %}

	<div class="row">
		<div class="col-lg-9">
			<div id="map" style="height:700px"></div>
		</div>
		<div class="col-lg-3">
			<h1>Informations</h1>
			<ul class="list-group" id="infoList">
				<li class="list-group-item list-group-item-primary""><span class="titleInfo">Nom :</span><span id="name"></span></li>
				<li class="list-group-item"><span class="titleInfo">Auteur :</span><span id="author"></span></li>
				<li class="list-group-item"><span class="titleInfo">Addresse :</span><span id="address"></span></li>
				<li class="list-group-item"><span class="titleInfo">Longitude :</span><span id="long"></span></li>
				<li class="list-group-item"><span class="titleInfo">Latitude :</span><span id="lat"></span></li>
				<li class="list-group-item"><span class="titleInfo">Altitude :</span><span id="alt"></span></li>
				<hr>
				<li class="list-group-item"><span class="titleInfo">Hauteur :</span><span id="height"></span></li>
				<li class="list-group-item"><span class="titleInfo">Largeur :</span><span id="width"></span></li>
				<li class="list-group-item"><span class="titleInfo">Type :</span><span id="type"></span></li>
				<li class="list-group-item"><span class="titleInfo">Thumbnail :</span><span id="thumbnail"></span></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<button id="refresh" type="button" class="btn btn-primary">Rafraîchir</button>
		</div>
	</div>
	
	<div id="overlay">
		<div id="content-wrapper" class="mx-auto">
			<div id="image-wrapper">
				<img id="image-midsize" />
				<div id="button-panel">
    				<form id="likeImg" method="POST" action="map">
    					<input type="hidden" name="imgId" value="23"/>
    					<button class="fas fa-heart"></button>
    				</form>
    				<form id="reportImg" method="POST" action="map/report">
    					<input type="hidden" name="imgId" value="23" />
    					<button class="fas fa-exclamation-circle"></button>
    				</form>
				</div>
			</div>
			<div id="imgPanel">
				<p>Placeholder</p>
			</div>
		</div>
	</div>
	
{% endblock %}