{% extends "layout.twig" %}

{% block content %}

	<div class="row">
		<div class="col-lg-9">
			<div id="map" style="height:700px"></div>
		</div>
		<div class="col-lg-3">
			<h1>Informations</h1>
			<ul class="list-group" id="infoList">
				<li class="list-group-item list-group-item-primary""><span class="titleInfo">Nom :</span><span id="name"></span></li>
				<li class="list-group-item"><span class="titleInfo">Auteur :</span><span id="author"></span></li>
				<li class="list-group-item"><span class="titleInfo">Addresse :</span><span id="address"></span></li>
				<li class="list-group-item"><span class="titleInfo">Longitude :</span><span id="long"></span></li>
				<li class="list-group-item"><span class="titleInfo">Latitude :</span><span id="lat"></span></li>
				<li class="list-group-item"><span class="titleInfo">Altitude :</span><span id="alt"></span></li>
				<hr>
				<li class="list-group-item"><span class="titleInfo">Hauteur :</span><span id="height"></span></li>
				<li class="list-group-item"><span class="titleInfo">Largeur :</span><span id="width"></span></li>
				<li class="list-group-item"><span class="titleInfo">Type :</span><span id="type"></span></li>
				<li class="list-group-item"><span class="titleInfo">Thumbnail :</span><span id="thumbnail"></span></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<button id="refresh" type="button" class="btn btn-primary">Rafraîchir</button>
		</div>
	</div>

	<div id="overlay">
		<div id="content-wrapper" class="d-flex flex-row mx-auto">
			<div id="image-wrapper">
				<img id="image-midsize" />
				<div id="button-panel" class="d-flex align-items-center justify-content-around">
    				<form id="likeImg" method="POST" action="map">
    					<input type="hidden" class="imgId" name="imgId" value="23"/>
    					<button class="btn btn-secondary like">
    						<i class="fas fa-heart"></i>
    						J'aime !
    					</button>
    				</form>
    				<form id="reportImg" method="POST" action="map/report">
    					<input type="hidden" class="imgId" name="imgId" value="23" />
    					<button class="btn btn-secondary report">
    						<i class="fas fa-exclamation-circle"></i>
    						Signaler
    					</button>
    				</form>
				</div>
			</div>
			<div id="imgPanel">
				<div class="card text-white bg-info mb-3">
    				<h2 class="card-header">Placeholder</h2>
    				<p class="card-text">Image description</p>
				</div>
				<div id="comments-wrapper">
    				<div class="card">
    					<h5 class="card-header">John Doe</h5>
        				<p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    				</div>
    			</div>
				<form id="comment" method="POST" action="map/comment">
					<input type="hidden" name="uid" value="{{ member }}" />
					<textarea class="input-comment" form="comment" name="content"></textarea>
					<input type="hidden" class="imgId" name="imgId" value="23" />
					<button class="btn btn-secondary comment" id="comment-btn">
					<i class="fas fa-comments"></i>
					Commenter
					</button>
				</form>
			</div>
		</div>
	</div>
	
{% endblock %}