{% extends "layout.twig" %}

{% block content %}
	{{ include ('flash.twig') }}
	<div class="col-lg-8 mx-auto">
    	
    	{% if flash.success %}
    	<div class="alert alert-success">
    		{{ flash.success }}
    	</div>
    	{% endif %}
    	

    	{% if not member %}
    		<div class="alert alert-primary">
    			<p>Veuillez vous <a href="{{ path_for('inscription') }}" class="alert-link">authentifier</a></p>
    		</div>
    		{% else %}
    	<div class="upload-wrapper mx-auto">
    		<h1>Ajouter une photo</h1>
    		<form id="myForm" method="post" action="addexif" id="form" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="titre">Nommez votre photo</label><br />
                    <input type="text" class="form-control" name="name" placeholder="Titre de la photo" id="titre" required />
                    <span class="text-info">Le nom de votre photo sera visible par les autres utilisateurs.</span>
                </div>
                <div class="form-group">
                	<label for="description">Partagez votre histoire !</label>
                	<textarea class="form-control" rows="2" name="description" id="description" required></textarea>
                </div>
                <div class="form-group">
                	<label for="privacy0">Confidentialité de la photo</label><br>
                    <div class="form-check form-check-inline">
                    	<input class="form-check-input" type="radio" name="privacy" id="privacy0"value="0" checked>
                    	<label class="form-check-label" for="privacy0">Publique</label>
                    </div>
                    <div class="form-check form-check-inline">
                    	<input class="form-check-input" type="radio" name="privacy" id="privacy1"value="1">
                    	<label class="form-check-label" for="privacy1">Mes amis</label>
                    </div>
                    <div class="form-check form-check-inline">
                    	<input class="form-check-input" type="radio" name="privacy" id="privacy2"value="2">
                    	<label class="form-check-label" for="privacy2">Privée</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="myfile">Fichier</label><br />
                    <input type="hidden" name="MAX_FILE_SIZE" value="10048576" />
                    <input type="file" class="form-control-file" name="image" id="myfile" /><br />
                </div>
                <div id="button-wrapper">
                	<input type="submit" class="btn btn-primary" name="submit" value="Envoyer" />
                </div>
                <!-- <button id="refresh" type="button" class="btn btn-primary">Rafraîchir</button> -->
                <div id="preview"></div>
        	</form>
        </div>
    	{% endif %}

    </div>

{% endblock %}