/* CSS */

.navbar
{
	float:none;
	z-index:1;
}


[class*="col-"] {
  background-color: #d2d2d2;
  border: 2px solid black;
  border-radius: 6px;
  line-height: 20px;
  margin-top:50px;
}

/*
* === Homepage ===
*/

#carouselExampleControls
{
	width:100%;
	height:100%;
	top:0;
	left:0;
	position:fixed;
}

/*
* === Forms ===
*/

#inscription-wrapper
{
	padding: 80px 55px 30px;
	border-radius:10px;
	background-color:white;
}
#button-wrapper .btn
{
	border-radius: 25px;
	padding: 5px 55px;
	height:50px;
	box-shadow: 0 10px 30px 0px rgba(43, 168, 216, 0.5);
}

.form-title
{
	font-size:30px;
	line-height:1.5;
	text-align:center;
	width:100%;
	padding-bottom:35px;
}
.wrap-input
{
	position:relative;
}
.input-inscription
{
	height:45px;
	padding:0 30px 0 40px;
	border-radius: 25px;
	box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
}

#button-wrapper
{
	display:flex;
	justify-content:center;
	width:100%;
}

.icon-input
{
	display: flex;
  	align-items: center;
	position:absolute;
	top:0;
	left:15px;
	height:100%;
	font-size:18px;
	color: #666666;
}

#form
{
	margin-bottom:50px;
}


.upload-wrapper
{
	padding: 50px 55px 30px;
	border-radius:10px;
	background-color:white;
}



/*
* === Admin Panel ===
*/

#profile-wrapper
{
	padding: 20px 10px 30px 10px;
	/* background-color:red; */
}

#reports-wrapper
{
	padding:0;
	min-height:500px;
	background-color:#e7e7e7;
}

#img-report-wrapper
{
	padding: 0 30px 0 30px;
}

.img-single-report
{
	width:auto;
	margin-bottom:35px;
	box-shadow: 0px 11px 20px 1px rgba(0,0,0,0.3);
}

.image-reported-wrapper
{
	overflow:hidden;
}

.image-reported
{
	width:350px;
	object-fit:cover;
	transition: transform .5s; /* Animation */
}

.image-reported:hover
{
	transform: scale(1.2); /* (120% Zoom) */
}

.img-info-panel
{
	background-color:white;
}


/*
* === Profile Page ===
*/

#profile-content-title
{
	position:relative;
	/* box-shadow: 0px 8px 14px -3px rgba(255,255,255,0.61); */
	
}

#profile-content-title h2
{
	line-height:50px;
	padding-left:20px;
	/* text-align:center; */
}

.profile-photos-card
{
	margin-bottom:15px;
	box-shadow: 0px 11px 20px 1px rgba(0,0,0,0.3);
}

.profile-photos-card .card-body
{
	padding: 1rem 1.55rem;
}

.profile-photos-card .card-title
{
	margin-bottom: .50rem;
}

.profile-photo
{
	width:160px;
	height:120px;
	object-fit:cover;
}

.profile-photo-wrapper
{
	position:relative;
}

.card-overlay 
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: rgba(0,0,0, 0.4);
}

.profile-photo-wrapper:hover .card-overlay
{
  	opacity: 1;
}


/* Thumbnail */
#thumbnail
{
	cursor: pointer;
}

/*
* === Image Viewer ===
*/

#overlay {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}

#content-wrapper
{
	position:relative;
	margin-top:3%;
	width:70%;
	min-height:550px;
	background-color: #d2d2d2;
	z-index: 3;
}

#profile-content-wrapper
{
	position:relative;
	margin-top:5%;
	width:60%;
	padding:5px 5px 0 5px;
	min-height:550px;
	background-color: #d2d2d2;
	z-index: 3;
}


#profile-images-wrapper
{
	position:relative;
	max-height:750px;	
	overflow:auto;
}

#myphoto-wrapper
{
	position:absolute;
	display:none;
	height:550px;
}

#myphoto
{
	height:100%;
	position:relative;
}

#myphoto-panel
{
	position:absolute;
	bottom:0;
	height:50px;
	width:100%;
	background-color: rgba(191,191,191, 0.3);
}

#myphoto-panel i
{
	font-size:25px;
	color:#dfdfdf;
}

#icon-exit
{
	position:absolute;
	top:0;
	right:0;
	font-size:30px;
	cursor: pointer;
	z-index: 2;
	transition: color .5s;
}

#icon-exit:hover
{
	color:#8d8d8d;
}

#image-wrapper
{
	width:75%;
	position:relative;
}

#image-midsize
{
	width:100%;
	cursor: pointer;
}

#button-panel
{
	position:absolute;
	bottom:0;
	height:50px;
	width:100%;
	background-color: rgba(191,191,191, 0.3);
}


#comments-wrapper
{
	margin-top:20px;
}

.like i
{
	color:#f90d0d;
}

.report i

{
	color:#ffe912;
}

#imgPanel
{
	padding:10px 10px;
	height:550px;
	width:25%;
	background-color: #d2d2d2;
	overflow:auto;
}

.input-comment
{
	border-radius: 15px;
	box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
}
