/* CSS */


/* 
==========================
Fonts
==========================
*/
html, body
{
	height:100%;
	scroll-behavior: smooth;
}
body
{
	min-height: 100vh;
	background-color:#e9ecef;
	display: flex;
  	flex-direction: column;
}

body.noscroll
{
	overflow:hidden;
}

@font-face
{
	font-family:'titania';
	src:url('../fonts/titania/titania-regular.ttf') format('truetype');
}

@font-face
{
	font-family:'westhouse';
	src:url('../fonts/westhouse/westhouse.ttf') format('truetype');
}

@font-face
{
	font-family:'roboto';
	src:url('../fonts/westhouse/roboto-regular.ttf') format('truetype');
}

@font-face
{
	font-family:'capsuula';
	src:url('../fonts/capsuula/capsuula.ttf') format('truetype');
}

@font-face
{
	font-family:'subscribe';
	src:url('../fonts/subscribe/subscribe.ttf') format('truetype');
}

#main-navbar
{
	float:none;
	background-color:white;
	box-shadow: 0 1px 1px rgba(97,108,121,.1),0 5px 10px 0 rgba(21,111,170,.25);
}

.main-navbar-real
{
	display:flex;
	justify-content:space-between;
}

.navbar
{
	z-index:1;
}

#main-container
{
	padding:0;
	flex:1 0 auto;
}

[class*="col-"] 
{
	
	border-radius: 6px;

  	line-height: 20px;
  	/*
  	margin-top:50px;
  	background-color: #d2d2d2;
  	border: 2px solid black;
  	*/
}


#wallpaper-test
{
	margin-top:50px;
	background-image: url('../images/pink-coast.jpg');
	background-size:cover;
	position:relative;
	height:700px;
}

#wallpaper-test:after
{
	content:'';
	background:url('../images/pattern.png') repeat top left;
	position:absolute;
	top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#wallpaper-test > * {
    z-index: 3;
}

/*
==========================
Main Components
==========================
*/

hr
{
	box-sizing: content-box;
	height: 5px;
	overflow: visible;
	border-top: 1px solid rgba(0,0,0,.1);
}

#footer
{
	margin-top:5rem;
	padding:1rem;
	box-shadow: 0 -1px 1px rgba(97,108,121,.1),0 -2px 5px 0 rgba(21,111,170,.25);
	background-color:white;
}

#footer-brand
{
	background-color:#D3F0FC;
}

#flash-container
{
	margin-top:10px;
	height:50px;
}

.pagination-wrapper
{
	margin-top:40px;
	display:flex;
	flex-direction:row;
	justify-content:center;
	width:100%;
}


.alert
{
	margin-bottom:0;
}

.hoverable:hover
{
	-webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	box-shadow: 0 8px 17px 0
	rgba(0,0,0,0.2),0 6px 20px 0
	rgba(0,0,0,0.19);
	-webkit-transition: all 0.45s ease-in-out;
	transition: all 0.45s ease-in-out;
}

.hoverable
{
	-webkit-transition: all 0.45s ease-in-out;
	transition: all 0.45s ease-in-out;
}


.login-pill:hover
{
	background-color: #f2f2f2;
}

#login-modal
{
	z-index:1500;
}

.main-nav-dropdown
{
	padding:0;
}

.main-nav-dropdown .dropdown-item
{
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
}

.dropdown-item:hover
{
	background-color:#ECECEC;
}

.navbar-nav .active > .nav-link
{
	border-bottom: 4px solid aqua;
}


/* 
==========================
Home Page
==========================
*/


.navbar
{
	z-index:4;
}

#home-banner
{
	display:flex;
	flex-direction:column;
	padding:15px;
	/* color:white; */
	margin-bottom:2.5rem;
}


#home-image
{
	box-shadow: 4px 11px 21px -9px rgba(0,0,0,0.75);
}

#welcome-card
{
	margin-top:-40px;
	color: #717171;
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),0 4px 15px 0 rgba(0,0,0,0.15);
	padding:1.25rem;
	z-index:50;
	min-height:150px;
}

#navigation-pills
{
	display:flex;
	flex-direction:row;
	justify-content:center;
}

.pill
{
	padding:1rem;
	width:10rem;
	border-radius:7px;
	margin-right:2rem;
	background-color: #f2f2f2;
	cursor:pointer;
	display:flex;
	justify-content:center;
}

.home-card
{
	padding:2.5rem 3rem;
	border-radius:1rem;
	background-image: linear-gradient(to left top, #7db9e8, #6aade4, #56a1e0, #4195dc, #2989d8);
}

.home-card .card-body
{
	border-radius:10px;
	background-color: #f2f2f7;
}

.card-img-top
{
	display:flex;
	align-items:center;
	justify-content:center;
}

#home-wrapper
{
	display:flex;
	flex-direction:column;
}

#test-fade
{
	height:150px;
	background-color:grey;
}

.home-item
{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	margin-top:4.5rem;	
}

.home-description
{
	height:300px;
	width:40%;
	border-radius:1rem 2.5rem;
	display:flex;
	justify-content:center;
	align-items:center;
}

.home-b
{
	background-image: linear-gradient(to left top, #7db9e8, #6aade4, #56a1e0, #4195dc, #2989d8);
}

.home-b-example
{
	background-color:white;
	height:70%;
	border-radius:15px;
	padding:1.5rem;
	width:70%;
	color:black;
}

#carouselExampleControls
{
	width:100%;
	height:100%;
	top:0;
	left:0;
}

.carousel-photo
{
	padding:0;
	width:100%;
	height:500px;
	object-fit:cover;
}

#footer2
{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	min-height:150px;
	background-image: linear-gradient(to left top, #7db9e8, #6aade4, #56a1e0, #4195dc, #2989d8);
}

.home-inscription
{
	font-size:2.5rem;
	font-weight:500;
	font-family:westhouse;
	/* border:2px solid white; */
	box-shadow: 0px 0px 4px 1px white;
}

/* 
==========================
Map Page
==========================
*/

#app-container
{
	position:relative;
	margin-top:3rem;
}

#map-wrapper
{
	z-index:2;
	position:relative;
	flex: 0 0 100%;
	max-width: 100%;
	padding:0;
	-webkit-box-shadow: 4px 11px 21px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px 11px 21px -9px rgba(0,0,0,0.75);
	box-shadow: 4px 11px 21px -9px rgba(0,0,0,0.75);
	transition: all 1s ease-out;
}

#map-wrapper.contract
{
	flex: 0 0 75%;
	max-width: 75%;
}

#map
{
	z-index:2;
}

#image-info-panel
{
	padding:0;
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	box-shadow: 0px 11px 20px 1px rgba(0,0,0,0.3);
	background-color:#ecf3f6;
	opacity:0;
	width:25%;
	transition: all 1s linear;
}

#image-info-panel.show 
{
	opacity:1;
}

#info-panel
{
	margin-top:2rem;
	padding-right:15px;
	padding-left:15px;
}

.info-toggle
{
	position:absolute;
	border-radius:20%;
	color:white;
	font-size:1.4em;
	background-color:#686868;
	cursor: pointer;
	z-index:1;
}

/* Button while viewport > 1200px */
#info-btn-ext
{
	right:-30px;
	top:50%;
	padding:12px;
}

/* Button for smaller devices */
#info-btn-min
{
	bottom:-35px;
	right:0;
	padding:10px;
	box-shadow: 0px 10px 9px -10px rgba(0,0,0,0.52);
	display:none;
}

.info-toggle i
{
	padding:0 7px 0 7px;
}

.info-toggle.active
{
	background-color:#07a1ff;
}

/*
@keyframes glow {
  from {
    box-shadow: 0 0 10px -10px #07a1ff;
  }
  to {
    box-shadow: 0 0 10px 10px #07a1ff;
  }
}
*/

.info-title
{
	height:100px;
	width:100%;
	background-color:#07a1ff;
	padding-left:15px;
	color:white;
}

.info-title h2
{
	line-height:100px;
}

/* Info Panel */

.list-group-item
{
	display:flex;
	flex-direction:row;
	align-items:center;
}

.list-group-item h2
{
	margin:0;
}


#author-avatar
{
	height:55px;
	padding-right: 1.5rem;
}



/* 
==========================
Forms
==========================
*/

#inscription-container
{
	border-radius:10px;
	padding:0;
  	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#inscription-header
{
	height:130px;
	color:#fff;
	padding:0px 55px;
	display:flex;
	align-items:center;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
	background: linear-gradient(79deg, rgba(58,132,221,1) 24%, rgba(105,191,226,1) 90%);
}

#inscription-form-wrapper
{
	padding: 30px 55px 50px;
	background-color:white;
	margin:auto;
}

#button-wrapper .btn
{
	position:relative;
	border-radius: 25px;
	padding: 5px 45px;
	height:50px;
	box-shadow: 0 10px 30px 0px rgba(43, 168, 216, 0.5);
}

.form-title
{
	font-size:30px;
	line-height:1.5;
	text-align:center;
	width:100%;
	padding-bottom:35px;
}
.wrap-input
{
	position:relative;
}
.input-inscription
{
	height:45px;
	padding:0 30px 0 40px;
	border-radius: 25px;
	box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
}


#login-wrapper
{
	border-top-left-radius:0.6rem;
	border-top-right-radius:0.6rem;
}

#login-header
{
	height:80px;
	color:#fff;
	background: linear-gradient(79deg, rgba(58,132,221,1) 24%,rgba(105,191,226,1) 90%);
	border-top-left-radius:0.5rem;
	border-top-right-radius:0.5rem;
}

#login-header h2
{
	font-family: capsuula;
	font-weight: 800;
	font-size: 2rem;
}

.cross-login
{
	color:#d0d0d0;
	opacity:1;
	text-shadow: 0 1px 3px #115b9d;
}

.cross-login:hover
{
	color: #fff;
	text-shadow: 0 1px 2px #3e3d3d;
}

.form-button
{
	color:#fff;
	background-color:#2f8ef4;;
	border-color: #007bff;
	border-radius: 2rem;
}

#form-button:hover
{
	background-color: #0069d9;
}

.input-login
{
	padding:0 30px 0 40px;
	border-radius: 25px;
	box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
}

#button-wrapper
{
	display:flex;
	justify-content:center;
	width:100%;
}

.icon-input
{
	display: flex;
  	align-items: center;
	position:absolute;
	top:0;
	left:15px;
	height:100%;
	/*height:49px;*/
	font-size:18px;
	color: #666666;
}

#form
{
	margin-bottom:50px;
}


/*  Upload Form */

.upload-form-header
{
	height:130px;
	color:#fff;
	padding:0px 55px;
	display:flex;
	align-items:center;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
	background: linear-gradient(79deg, rgba(58,132,221,1) 24%, rgba(105,191,226,1) 90%); 
}

#upload-spinner
{
	position:absolute;
	top:0;
	transition: all 2s ease-in;
}


.upload-wrapper
{
	padding: 0px 35px 30px;
	border-radius:10px;
}


#test-exif-form
{
	padding:0;
	border-radius:10px;
	background-color:white;
	box-shadow: 4px 7px 21px -9px rgba(0,0,0,0.75);
	min-height:600px;
	/*height:500px;*/
}

.exif-form-wrapper
{
	margin-top:50px;
	margin-bottom:50px;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}

.test-wrapper
{
	height:150px;
	width:150px;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	background-color:#cacaca;
	transition: background-color 2s ease-in;
	border-radius:10px;
}

#flash-wrapper
{
	height:50px;
}

.test-wrapper i
{
	font-size:3em;
}

.valid
{
	background-color:#a1db80;
}

.invalid
{
	background-color:#dd6a6a;
}



/* 
==========================
Admin Panel
==========================
*/

#admin-sidebar
{
	background-color:#fff;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	border-bottom-left-radius: 25px;
}

.back-dashboard
{
	height:2.5rem;
	width:2.5rem;
	text-align:center;
	background-color: #f2f2f2;
}

.back-dashboard:hover
{
	background-color: #e4e4e4;
}

#admin-title
{
	height:100px;
}

#admin-header
{
	display:flex;
	justify-content:center;
	align-items:center;
	background: linear-gradient(79deg, rgba(58,132,221,1) 24%, rgba(105,191,226,1) 90%); 
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.admin-bandeau
{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
}

.square-grey
{
	height:2.5rem;
	width:2.5rem;
	text-align:center;
	background-color: #f2f2f2;
}

.square-grey
{
	height:2.5rem;
	width:2.5rem;
	text-align:center;
	background-color: #c6c6c6;
}


#admin-title h1
{
	font-family:westhouse;
	font-size:4.5em;
	color:#fff;
}

#admin-nav
{
	padding:5px;
}

#admin-panel
{
	border-radius:2rem;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	background-color: #fffafa;
	padding-bottom: 25px;
	min-height:850px;
}

.admin-pill
{
	padding:5px;
	border:2px solid blue;
	color:white;
}


#admin-avatar
{
	width: 160px;
	height: 160px;
	object-fit: cover;
	position: absolute;
	transform: translate3d(-50%, -80%, 0);
	left:50%;
	background:#fff;
	box-shadow: 0 5px 7px rgba(0,0,0,0.1);
	border-radius:50%;
}

.dashboard-card
{
	height: 200px;
	border-radius:0.4rem;
	background-color:white;
	margin-bottom:1.7rem;
	padding:15px;
	display:flex;
	flex-direction:column;
  	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	border: 0;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  	
}

.card-stats
{
	height: 120px;
	color:white;
	font-size:2.5rem;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-stats p
{
	font-size:1.5rem;
}

.card-stats:hover
{
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* Dashboard */

.dashboard-title
{
	display:flex;
	flex-direction:row;
	font-size:2.5rem;
	color:#8a8a8a;
}

.dashboard-title i
{
	margin-right:1rem;
	color:#3683DF;
}

.admin-hr
{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
}

#stats-photos
{
	background-image: linear-gradient(to right, #54a4e0, #56a8e0, #58ace1, #5bafe1, #5fb3e1); 
}
#stats-comments
{
	background-image: linear-gradient(to right, #54a4e0, #56a8e0, #58ace1, #5bafe1, #5fb3e1); 
}

#stats-likes
{
	background-image: linear-gradient(to bottom, #54a4e0, #56a8e0, #58ace1, #5bafe1, #5fb3e1); 
}

#stats-members
{
	background-image: linear-gradient(to bottom, #54a4e0, #56a8e0, #58ace1, #5bafe1, #5fb3e1); 
}

.dashboard-card-title
{
	padding-bottom:10px;
}

.dashboard-card-body
{
	flex:1;
}

.button-wrapper
{

	display:flex;
	justify-content:center;
	width:100%;
}

.adm-tab-header
{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}

/*
	Reported posts
*/

#report-tab-content
{
	height:100%;
}

#clear-btn
{
	position:absolute;
	top:0;
	right:0;
	padding: 10px 10px;
	border-radius:10px;
	background-color:white;
	color: #aaa;
	cursor:pointer;
	font-size:1.5rem;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


#profile-wrapper
{
	padding: 20px 10px 30px 10px;
	/* background-color:red; */
}

#reports-wrapper
{
	height: 100%;
}

.admin-tab
{
	margin-top:3rem;
	min-height:800px;
	background-color: #fffafa;
}

/*
** Edit Tab

*/

#admin-edit-hdr
{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}

#edit-tab
{
	padding:30px;
}

#img-report-wrapper
{
	position:relative;
	padding: 30px;
}

.img-single-report
{
	width:auto;
	margin-bottom:35px;
	box-shadow: 0px 11px 20px 1px rgba(0,0,0,0.3);
}

.image-reported-wrapper
{
	overflow:hidden;
	cursor:pointer;
}

.image-reported
{
	width:350px;
	height:225px;
	object-fit:cover;
	transition: transform .5s; /* Animation */
}

.image-reported:hover
{
	transform: scale(1.2); /* (120% Zoom) */
}

.img-info-panel
{
	background-color:white;
}

.admin-btn-panel
{
	display:flex;
	flex-direction:row;
	height:50px;
}

.admin-btn-container
{
	display:flex;
	justify-content:center;
	align-items:center;
	border: 1px solid #e7e7e7;
	width:50%;
}

.admin-btn
{
	border:0;
	background-color:white;
}

.empty-div
{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	width:100%;
	height:500px;
	font-size:2.2rem;
}

/* Reported Comments tab */

#reports-comments-tab
{
	height:100%;
}

#reported-comments-container
{

}

#reported-comments-wrapper
{
	flex:1;
	margin-top:2rem;
}

#reports-comments-header
{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}



#admin-edit-wrapper
{
	padding:1.5rem;
}


.reported-comment
{
	/*
	display:flex;
	flex-direction:row;
	*/
	margin-bottom:1.7rem;
}

/* 

*** Member tab ***
* adm-member-(item)

*/
.adm-member-item
{
	width:25%;
	display:flex;
	flex-direction:row;
	justify-content:center;
}

.adm-member-item i
{
	font-size: 1.8rem;
}

.adm-member-item h4, p
{
	margin:0;
}

#members-tab
{
	height:100%;
}
#members-tab-container
{
	padding:25px;
	height:100%;
	display:flex;
	flex-direction:column;
}

#members-tab-header
{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}

#members-card-wrapper
{
	display:flex;
	flex-direction:column;
	flex:1;
}

.member-card
{
	height:100px;
	margin-top:20px;
	margin-bottom:10px;
	padding:15px;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-between;
	background-color: #fff;
	border-radius: .25rem;
	border: 1px solid rgba(0,0,0,.125);
	box-shadow: 0 1px 1px rgba(97,108,121,.1),0 7px 18px 0 rgba(97,108,121,.13);
	transition: box-shadow .3s ease;
}

.member-card:hover
{
	background-color: #eeeeee;
	box-shadow: 0 1px 1px rgba(97,108,121,.1),0 7px 18px 0 rgba(21,111,170,.3);
}

.avatar-wrapper
{
	height:60px;
	width:60px;
}

.avatar-mini
{
	object-fit:cover;
}

#logs-tab
{
	padding:20px;
}

.logs-card
{
	height:100px;
	padding-left:15px;
	display:flex;
	flex-direction:column;
	align-items:center;
	background-color: #fff;
	box-shadow: 0 1px 1px rgba(97,108,121,.1),0 7px 18px 0 rgba(97,108,121,.13);
}


/* Reports tab */

.card-title
{
	word-break:break-all;
}

/* Edit Tab */

#edit-preview
{
	
}


#image-preview
{
	width:100%;
	height:auto;
}



/* 
==========================
Members Page
==========================
*/

#memberlist-container
{
	border-radius:10px;
	padding:0;
	/*height:690px;*/
	height:40rem;
	background-color:white;
	box-shadow: 4px 7px 21px -9px rgba(0,0,0,0.75);
	display:flex;
	flex-direction:column;
}

#memberlist-wrapper
{
	padding: 0px 40px 30px;
	height:100%;
	display:flex;
	flex-direction:column;
}

#memberlist-header
{
	height:130px;
	display:flex;
	padding:0 40px;
	align-items:center;
	color:#fff;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
	background: linear-gradient(79deg, rgba(58,132,221,1) 24%, rgba(105,191,226,1) 90%); 
}

#memberlist-nav
{
	height:50px;
	display:flex;
	align-items:center;
	justify-content:space-between;
	margin-top:15px;
	margin-bottom:15px;
}


#memberlist
{
	flex:1;
}

.memberlist-card
{
	height:80px;
	margin-top:20px;
	margin-bottom:10px;
	padding-left:15px;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-between;
	background-color: #fff;
	border-radius: .25rem;
	border: 1px solid rgba(0,0,0,.125);
	box-shadow: 0 1px 1px rgba(97,108,121,.1),0 7px 18px 0 rgba(97,108,121,.13);
	transition: box-shadow .3s ease;
}

.memberlist-card h4
{
	margin:0;
}

.memberlist-card:hover
{
	background-color: #eeeeee;
	box-shadow: 0 1px 1px rgba(97,108,121,.1),0 7px 18px 0 rgba(21,111,170,.3);
}

.item-test
{
	flex:1;
	display:flex;
	flex-direction:row;
}

.main-items
{
	width:40%;
}

.item-status
{
	width:20%;
}

.memberlist-item
{
	height:100%;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
}

#sort-select
{
	width:150px;
}



.memberlist-btn
{
	border-radius:50%;
	border:0;
	height:2.45rem;
	width:2.45rem;
	color: white;
	background-color:#c9c9c9;
	line-height:1.5;
	text-align:center;
	transition: all .4s;
}

.addfriend-btn-wrapper
{
	padding-left:25px;
	padding-right:15px;
}

.cancel-btn
{
	font-size:1.4rem;
}

.memberlist-card:hover .addfriend-btn
{
	background-color:#55a2f4;
}

.memberlist-card:hover .removefriend-btn
{
	background-color:#cc7272;
}

.memberlist-card:hover .cancel-btn
{
	background-color:#cc7272;
}


/*

Logs Tab

*/


.post-log
{
	margin-bottom:3rem;
}

#menu-pills
{
	display:flex;
	flex-direction:row;
	justify-content:center;
	margin-bottom:2.5rem;
}

.logs-header
{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	margin-bottom:1rem;
}

/* Comments */

.com-logs-header
{
	padding: .75rem 1rem 0 1rem;
	display:flex;
	flex-direction:row;
}

.com-logs-meta
{
	flex: 1;
	padding-left: 1rem;
	position:relative;
}

.com-logs-clear
{
	position:absolute;
	top:0;
	right: 0%;
	color:#5e5e5e;
}

.flipCross
{
   transform: rotate( -180deg );            
   transition: transform 350ms ease;
}

.com-logs-hidden.showCom
{
	/* top:100%; */
	visibility:visible;
	opacity:1;
	max-height:150px;
}

.expandComButton
{
	border-radius:50%;
}

.logs-footer
{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
}

.logs-footer .fa-comments,
.logs-footer .fa-heart
{
	font-size: 1.4rem;
}



/* 
==========================
Profile Page
==========================
*/

#profile-container
{
	box-shadow: 0 1px 1px rgba(97,108,121,.1),0 11px 20px 1px rgba(21,111,170,.3);
	background-color:#FFFFFF;
	margin-bottom:60px;
}

#loading
{
	position:absolute;
	height:100%;
	z-index:100;
	display:flex;
	justify-content:center;
	align-items:center;
	background-color:white;
}

.spinner-profile
{
	display: inline-block;
	width: 4.5rem;
	height: 4.5rem;
	vertical-align: text-bottom;
	background-color: #4999DD;
	border-radius: 50%;
	opacity: 0;
	-webkit-animation: spinner-grow 1s linear infinite;
	animation: spinner-grow 1s linear infinite;
}

#loading.loaded 
{
  opacity: 0;
  visibility:hidden;
  transition: .3s ease-in 1s;
}

#profile-nav
{
	z-index:2;
	position:absolute;
	right:30px;
	top:70px;
	line-height:20px;
}

.profile-btn
{
	display: block;
	padding:15px;
	margin-right:10px;
	border-radius:50%;
	color:white;
	font-size:1.4em;
	background-color:#686868;
	cursor: pointer;
}

.profile-btn.active
{
	background-color:#007bff;
}

.avatar-form
{
	line-height:50px;
	display:flex;
	align-items:center;
}

#upl-avatar-form
{
	margin: 50px 0px 50px 0px;
}

.add-avatar-pnl
{
	height:170px;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	margin:0;
  	
}

#avatar-preview-ctn
{
	border: 1px solid rgba(0,0,0,.125);
}




.collapsing
{
	transition: height 1s ease;
}

#tab-profile-settings
{
	/*display:none;*/
}

/* Comments tab */

#profile-comments-wrapper
{
	
}


/* Overlay */


#profile-content-header
{
	position:relative;
	height:80px;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	color:#fff;
	border-top-right-radius:15px;
	border-top-left-radius:15px;
	background: linear-gradient(79deg, rgba(58,132,221,1) 24%, rgba(105,191,226,1) 90%); 
}

#profile-content-header h2
{
	line-height:50px;
	font-family:westhouse;
	font-size:3.6em;
	/* text-align:center; 
	-webkit-text-stroke: 1px black;
   	text-shadow:
       	3px 3px 0 #000,
     	-1px -1px 0 #000,  
      	1px -1px 0 #000,
      	-1px 1px 0 #000,
      	1px 1px 0 #000;
    */
}

#profile-content-wrapper
{
	display:flex;
	flex-direction:column;
	position:relative;
	margin-top:60px;
	width:60%;
	height:850px;
	padding:0;
	background-color: #ececec;
	z-index: 3;
	border-radius: 15px;
}

.myimgs-icon i
{
	font-size:2.2em;
}

.myimgs-icon
{
	padding:5px;
	margin-right:25px;
}

.profile-photos-card
{
	margin:30px 35px;
	/*box-shadow: 0px 11px 20px 1px rgba(0,0,0,0.3);*/
	box-shadow: 0 1px 1px rgba(97,108,121,.1),0 7px 18px 0 rgba(97,108,121,.13);
	transition: box-shadow .3s ease;
}

.profile-photos-card:hover
{
	box-shadow: 0 1px 1px rgba(97,108,121,.1),0 7px 18px 0 rgba(21,111,170,.3);
}

.profile-photos-card .card-body
{
	padding: 1rem 1.55rem;
}

.profile-photos-card .card-title
{
	margin-bottom: .50rem;
}

.profile-photo
{
	width:350px;
	height: 196px; /* ratio 16:9 */
	object-fit:cover;
}

.profile-photo-wrapper
{
	position:relative;
}

.card-overlay 
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: rgba(0,0,0, 0.4);
}

.profile-photo-wrapper:hover .card-overlay
{
  	opacity: 1;
}

#thumbnail
{
	cursor: pointer;
	width:150px;
}


/* Content Placeholder */
.content-wrapper
{
	background-color:white;
}

.my-photos
{
	height:100%;
	width:100%;
	object-fit: cover;
}

/* New Profile */

#profile-container
{
	border-radius:10px;
}

#np-header
{
	position:relative;
	background-image: linear-gradient(to bottom, #7db9e8, #6aade4, #56a1e0, #4195dc, #2989d8);
	display:flex;
	align-items:center;
	justify-content:center;
	line-height:20px;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
}

#np-header h1
{
	font-family:westhouse;
	font-size:4.5em;
	color:white;
}

#np-infos
{
	background-color:white;
	border-radius:0px;
	border-bottom-left-radius:10px;
}

#profile-avatar
{
	width: 160px;
	height: 160px;
	object-fit: cover;
	position: absolute;
	transform: translate3d(-50%, -50%, 0);
	left:50%;
	background:#fff;
	box-shadow: 0 5px 7px rgba(0,0,0,0.1);
	border-radius:50%;
}

#np-tab
{
	height:400px;
}

#np-body
{
	background-color:white;
	border-radius:0px;
	min-height:600px;
	border-bottom-right-radius:10px;
}

#np-navigation
{
	padding-top:25px;
	padding-bottom:25px;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
}

#np-tab-panel
{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	width:50%;
}

.profile-pills
{
	padding:15px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

.profile-pills.active
{
	box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px rgba(0,123,255,.6);
}

.profile-pills:hover
{
	background-color: #f2f2f2;
}

#tab-edit-img
{
	display:none;
	opacity:0;
	transition: all 1s ease-out;
}

#tab-edit-img.show-edit
{
	display:flex;
	opacity:1;
	flex-direction:column;
}

#edit-form-header
{
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-between;
	margin-bottom:1rem;
}

#edit-form-body
{
	display:flex;
	flex-direction:row;
}

#exit-edit
{
	font-size:1.6rem;
	cursor:pointer;
	color:#b0b0b0;
	width:1.2em;
	height:1.2em;
	border-radius: 5px;
	display:flex;
	align-items:center;
	justify-content:center;
	transition: background-color 0.5s ease-out;
}

#exit-edit:hover
{
	background-color:#e8e8e8;
}

#showAllImages
{
	padding:5px;
	border-radius:50%;
	background-color: #007bff;
	color:white;
	line-height:10px;
}

.modal-btn-wrapper
{
	position:absolute;
	top:50%;
	right:-50px;
}

.modal-btn
{
	width: 2.5rem;
	height: 2.5rem;
}

.modal-btn i
{
	color:#545a68;
}

.image-profile-wrapper
{
	overflow:hidden;
	cursor:pointer;
	width:100%;
	height:100%;
}

.image-profile
{
	object-fit:cover;
	/*height:100%;*/
	transition: transform .5s; /* Animation */
}

.image-profile:hover
{
	transform: scale(1.15); /* (120% Zoom) */
}



/* 
==========================
 Profile Image Viewer
==========================
*/

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 5;
  overflow:hidden;
}

.overlay-profile 
{
  position: fixed;
}

.photo-infocard
{
	/*background-color:#07a1ff;*/
	background-image: linear-gradient(to bottom, #7db9e8, #6aade4, #56a1e0, #4195dc, #2989d8);
	color:white;
}

#image-name
{
	font-family:roboto;
}

#social-wrapper
{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}

.social-card
{
	padding:10px;
	background-color: #fff;
	border-radius: .25rem;
	border: 1px solid rgba(0,0,0,.125);
	box-shadow: 0 1px 1px rgba(97,108,121,.1),0 7px 18px 0 rgba(97,108,121,.13);
	transition: box-shadow .3s ease;
}

.social-card:hover
{
	background-color: #eeeeee;
	box-shadow: 0 1px 1px rgba(97,108,121,.1),0 7px 18px 0 rgba(21,111,170,.3);
}

#content-wrapper
{
	position:relative;
	margin-top: 4rem;
	background-color: #d2d2d2;
	z-index: 3;
}

#image-navigation
{
	display:flex;
	align-items:center;
	justify-content:center;
	margin-top:25px;
}

#myphoto-wrapper
{
	position:absolute;
	display: none;
	padding:0;
	align-items: center;
	justify-content: center;
	z-index:4;
}

#myphoto
{
	width:100%;
	height:auto;
	margin:auto;
	position:relative;
}

#myphoto-panel
{
	position:absolute;
	bottom:0;
	height:50px;
	width:100%;
	background-color: rgba(191,191,191, 0.3);
}

#myphoto-panel i
{
	font-size:25px;
	color:#dfdfdf;
}


#icon-exit
{
	position:absolute;
	top:0;
	right:0;
	font-size:30px;
	padding:10px;
	cursor: pointer;
	z-index: 2;
	transition: color .5s;
}

/* Exit Map page */
.icon-exit
{
	position:absolute;
	font-size:40px;
	padding:10px;
	cursor: pointer;
	z-index: 2;
	transition: color .8s;
	color:#ececec;
}

#exit-large-vw
{
	top:-30px;
	right:-50px;
}

#exit-small-vw
{
	right:10px;
	top:0;
	display:none;
}


#cross-admin
{
	position:absolute;
	top:-30px;
	right:-50px;
	font-size:40px;
	padding:10px;
}


.icon-exit-full
{
	position:absolute;
	top:0;
	right:0;
	font-size:30px;
	cursor: pointer;
	z-index: 2;
	transition: color .8s;
}

.icon-exit:hover
{
	color:white;
}

/* 
==========================
 Overlay Social
==========================
*/

#image-wrapper-new
{
	padding:0;
	display: flex;
	align-items: center;
	/* background-color: #f2efef; */
	background-color:black;
}

#image-panel
{
	display:flex;
	flex-direction:column;
	padding-right: 0px;
}

#image-wrapper
{
	position:relative;
	/* width:75%; */
	display:flex;
	align-items:center;
	justify-content: center;
	padding:0;
	background-color:black;
	
}

#image-wrapper-new:hover #button-panel
{
	opacity:1;
	visibility:1;
}

#connect-prompt
{
	position: relative;
	padding: .75rem 1.25rem;
	margin-bottom: 0.5rem;
	border: 1px solid transparent;
	border-radius: .25rem;
	margin-top: 0.5rem;
	color: #4f4f4f;
	background-color:#f9f9f9;
	border-color: #dbdbdb;
	text-align: center;
}

#admin-image-wrapper
{
	padding:10px 10px;
	display:flex;
	align-items:center;
	justify-content:center;
	position:relative;
	height:100%;
	margin-top:70px;
	background-color:white;
}

#image-midsizenew
{
	width:100%;
}

#button-panel
{
	position:absolute;
	bottom:0;
	height:50px;
	width:100%;
	opacity:0;
	visibility:0;
	background: linear-gradient(transparent, rgba(0, 0, 0, .5));
	transition: opacity .60s;
}


#comments-wrapper
{
	margin-top:10px;
	overflow:auto;
	/* padding:10px; */
	max-height:350px;
	display:flex;
	flex-direction:column;
	flex:1;
}


/* Comments */


.comment
{
	position:relative;
	margin-bottom: 10px;
	display:flex;
	flex-direction:row;
}

.comment:hover
{
	background-color:#eeeeee;
}

.comment:hover .comment-options
{
	opacity:1;
}

.comment-title
{
	margin:0;
	font-weight:500;
}


.comment-body
{
	flex: 1 1 auto;
	padding: 1rem;
}

.comment-date
{
	font-size:0.8rem;
}

.comment-text
{
	margin-top: 0.5rem;
	margin-bottom:0;
	word-break:break-all;
}



.comment-options
{
	position:absolute;
	top:20px;
	right:10px;
	cursor:pointer;
	opacity:0;
	padding: 5px;
	line-height: 1rem;
	/* background-color: #993636; */
	transition: opacity .20s;
}

.comment-options i
{
	color: #ccc;
}

.comment-options i:hover
{
	color: #737373;
}

.report-comment-btn
{
	background-color:white;
	border:0;
}

.comment-options:hover .options-menu
{
	opacity:1;
	visibility:visible;
}

.delete-comment-btn
{
	border:0;
	background-color:white;
}

.comment-avatar
{
	padding:1rem 0 1rem 1rem;
}

.options-menu
{	
	padding:10px;
	margin-bottom:0;
	position:absolute;
	top:20px;
	right:0px;
	z-index:2;
	list-style:none;
	opacity:0;
	visibility:hidden;
	box-shadow: 0 1px 1px rgba(0,0,0,.25);
	background-color:white;
	color:black;
	transition: opacity .20s;
}

.options-menu li:hover
{
	background-color:grey;
}


.comment-text:hover .options-menu
{
	opacity:1;
	visibility:visible;
}	


.comment-form-wrapper
{
	margin-top:30px;
	display:flex;
	height:50px;
	flex-direction:row;
	justify-content:space-around;
	align-items:center;
}

#comment-btn
{
	background-color:#07a1ff;
	border-radius:50%;
	margin:0;
}

#comment-btn-wrapper
{
	height:100%;
	display:flex;
	align-items:center;
}

.social-button
{
	border-radius:50%;
	border:0;
	padding: .375rem .75rem;
	color: #aaa;
	line-height:1.5;
	transition: color .4s;
}

.card-heart
{
	color: #c86262;
}

.card-comments
{
	color: #68b8e8;
}

.like-count
{
	color: #c86262;
}

/*
.comments-count
{
	color: #3c7fbb;
}
*/

.social-button:hover
{	
	color: #666;
}

.like.active
{
	color:#e23b3b;
}

.report.disabled
{
	color:#e23b3b;
}


#imgPanel
{
	display:flex;
	padding:0;
	flex-direction:column;
	background-color:#e8e7e7;
	padding-bottom:20px;
	max-height:770px;
}

.input-comment
{
	border-radius: 15px;
	box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
}


/* Tests Layout */

#test-flex-container
{
	border:2px solid black;
}

#test-flex
{
	
	height:150px;
	background-color:grey;
}


/* Flip Card effect */

.flip-container {
	
	perspective: 1000px;
}

/* flip the pane when hovered */

/*
.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
}

*/

.flipped
{
	transform: rotateY(180deg);
}

/* flip speed goes here */
.flipper {
	width:100%;
	transition: 0.9s;
	transform-style: preserve-3d;

	position: relative;
}

.flip-container, .flip-front, .flip-back {
	width: 100%;
	min-height: 400px;
}

/* hide back of pane during swap */
.flip-front, .flip-back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.flip-front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.flip-back {
	transform: rotateY(180deg);
}



.flip-vertical-left {
	-webkit-animation: flip-vertical-left 0.8s both;
	        animation: flip-vertical-left 0.8s both;
}



/* ----------------------------------------------
 * Generated by Animista on 2020-1-27 14:29:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-vertical-left
 * ----------------------------------------
 */
@-webkit-keyframes flip-vertical-left {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
  }
}
@keyframes flip-vertical-left {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
  }
}


/*
==========================
Footer
==========================
*/


.credit i:nth-child(1)
{
	color:#d25555;
}

.credit i:nth-child(2)
{
	color: #4d1010;
}

#footer .fa-github
{
	font-size:2rem;
	color:#424242;
	text-align:center;
	margin-right: 0.5rem;
	margin-left: 0.5rem;
}

.hr-right
{
	width:40%;
	height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
}

.hr-left
{
	width:40%;
	height: 1px;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
}



/*
==========================
Media Queries
==========================
*/
@media screen and (max-width: 1200px)
{
	/*
	#exit-large-vw
	{
		display:none;
	}
	*/
	
	#exit-small-vw
	{
		display:block;
	}
	
}

@media screen and (max-width: 992px)
{
	#image-info-panel
	{
		position:static;
		width:100%;
	}
	
	#image-panel
	{
		padding:0;
	}
	
	#info-btn-ext
	{
		display:none;
	}
	
	#info-btn-min
	{
		display:block;
	}
	
	#content-wrapper
	{
		margin:0;
		overflow-y:scroll;
	}
	
}

/* Workaround large screen ovrlay */
@media screen screen and (min-width: 1920px)
{
	#image-midsize
	{
		max-height:900px;
	}
}


