/* CSS */

.navbar
{
	float:none;
	z-index:1;
}

/* Home */

#carouselExampleControls
{
	width:100%;
	height:100%;
	top:0;
	left:0;
	position:fixed;
}

/* Forms */

#inscription-wrapper
{
	padding: 80px 55px 30px;
	border-radius:10px;
	background-color:white;
}
#button-wrapper .btn
{
	border-radius: 25px;
	padding: 5px 55px;
	height:50px;
	box-shadow: 0 10px 30px 0px rgba(43, 168, 216, 0.5);
}

.form-title
{
	font-size:30px;
	line-height:1.5;
	text-align:center;
	width:100%;
	padding-bottom:35px;
}
.wrap-input
{
	position:relative;
}
.input-inscription
{
	height:45px;
	padding:0 30px 0 40px;
	border-radius: 25px;
	box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
}

#button-wrapper
{
	display:flex;
	justify-content:center;
	width:100%;
}

.icon-input
{
	display: flex;
  	align-items: center;
	position:absolute;
	top:0;
	left:15px;
	height:100%;
	font-size:18px;
	color: #666666;
}

#form
{
	margin-bottom:50px;
}


/* Admin panel */

#profile-wrapper
{
	padding: 20px 10px 30px 10px;
	background-color:red;
}

#reports-wrapper
{
	padding:0;
	min-height:500px;
	background-color:#e7e7e7;
}

#img-report-wrapper
{
	padding: 0 30px 0 30px;
}

.img-single-report
{
	padding:30px 0px 10px 0px;
	width:auto;
}

.image-reported
{
	width:350px;
}

.img-info-panel
{
	background-color:white;
}


[class*="col-"] {
  background-color: #d2d2d2;
  border: 2px solid black;
  border-radius: 6px;
  line-height: 20px;
  margin-top:50px;
}



/* Thumbnail */
#myImg
{
	cursor: pointer;
}

/* Image Viewer */

#overlay {
  /* position: fixed; */
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;	
}

#content-wrapper
{
	width:70%;
	min-height:550px;
	background-color: #d2d2d2;
	z-index: 3;
	overflow:auto;
}

#image-wrapper
{
	width:100%;
	position:relative;
}

#image-midsize
{
	width:100%;
	cursor: pointer;
}

#button-panel
{
	position:absolute;
	top:90%;
	height:50px;
	width:100%;
	background-color: rgba(191,191,191, 0.3);
}

.like i
{
	color:#f90d0d;
}

.report i

{
	color:#ffe912;
}

#imgPanel
{
	height:200px;
	background-color: #d2d2d2;
	padding-bottom:50px;
}
