/* CSS */


/* 
==========================
Fonts
==========================
*/

body
{
	background-color:#e9ecef;
}

@font-face
{
	font-family:'titania';
	src:url('../fonts/titania/titania-regular.ttf') format('truetype');
}

@font-face
{
	font-family:'westhouse';
	src:url('../fonts/westhouse/westhouse.ttf') format('truetype');
}

@font-face
{
	font-family:'roboto';
	src:url('../fonts/westhouse/roboto-regular.ttf') format('truetype');
}


.navbar
{
	float:none;
	z-index:1;
	background-color:white;
	box-shadow: 0 1px 1px rgba(97,108,121,.1),0 7px 18px 0 rgba(21,111,170,.25);
}

.container
{
	padding:0;
}

[class*="col-"] 
{
	
	border-radius: 6px;

  	line-height: 20px;
  	/*
  	margin-top:50px;
  	background-color: #d2d2d2;
  	border: 2px solid black;
  	*/
}


#wallpaper-test
{
	margin-top:50px;
	background-image: url('../images/pink-coast.jpg');
	background-size:cover;
	position:relative;
	height:700px;
}

#wallpaper-test:after
{
	content:'';
	background:url('../images/pattern.png') repeat top left;
	position:absolute;
	top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#wallpaper-test > * {
    z-index: 3;
}

/*
==========================
Main Components
==========================
*/

.pagination-wrapper
{
	margin-top:40px;
	display:flex;
	flex-direction:row;
	justify-content:center;
	width:100%;
}

/* 
==========================
Home Page
==========================
*/


.navbar
{
	z-index:4;
}

#home-banner
{
	background-image: linear-gradient(to right bottom, #7db9e8, #6aade4, #56a1e0, #4195dc, #2989d8);
	min-height:400px;
	color:white;
}

#carouselExampleControls
{
	width:100%;
	height:100%;
	top:0;
	left:0;
}

.carousel-photo
{
	width:1400px;
	height:500px;
	object-fit:cover;
}

#footer
{
	min-height:300px;
	background-image: linear-gradient(to left top, #7db9e8, #6aade4, #56a1e0, #4195dc, #2989d8);
}

/* 
==========================
Map Page
==========================
*/

#app-container
{
	position:relative;
	margin-top:50px;
}

#map-wrapper
{
	z-index:2;
	position:relative;
	flex: 0 0 100%;
	max-width: 100%;
	-webkit-box-shadow: 4px 11px 21px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px 11px 21px -9px rgba(0,0,0,0.75);
	box-shadow: 4px 11px 21px -9px rgba(0,0,0,0.75);
	transition: all 1s ease-out;
}

#map-wrapper.contract
{
	flex: 0 0 75%;
	max-width: 75%;
}

#map
{
	z-index:2;
}

#legend
{
	border-radius:10px;
	background-color:white;
}

#image-info-panel
{
	padding:0;
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	box-shadow: 0px 11px 20px 1px rgba(0,0,0,0.3);
	background-color:#ecf3f6;
	opacity:0;
	width:25%;
	transition: all 1s linear;
}

#image-info-panel.show 
{
	opacity:1;
}

#info-panel
{
	height:90%;
	padding-right:15px;
	padding-left:15px;
}

#info-toggle
{
	position:absolute;
	right:-30px;
	top:50%;
	padding:12px;
	border-radius:20%;
	color:white;
	font-size:1.4em;
	background-color:#686868;
	cursor: pointer;
	z-index:1;
	animation: glow 1s infinite alternate;
}

/*
@keyframes glow {
  from {
    box-shadow: 0 0 10px -10px #07a1ff;
  }
  to {
    box-shadow: 0 0 10px 10px #07a1ff;
  }
}
*/

#info-toggle i
{
	padding:0 7px 0 7px;
}

#info-toggle.active
{
	background-color:#07a1ff;
}

.info-title
{
	height:100px;
	width:100%;
	background-color:#07a1ff;
	padding-left:15px;
	color:white;
}

.info-title h2
{
	line-height:100px;
}

#author-avatar
{
	height:35px;
}



/* 
==========================
Forms
==========================
*/

#inscription-wrapper
{
	padding: 80px 55px 50px;
	border-radius:10px;
	background-color:white;
	margin:auto;
}

#button-wrapper .btn
{
	border-radius: 25px;
	padding: 5px 55px;
	height:50px;
	box-shadow: 0 10px 30px 0px rgba(43, 168, 216, 0.5);
}

.form-title
{
	font-size:30px;
	line-height:1.5;
	text-align:center;
	width:100%;
	padding-bottom:35px;
}
.wrap-input
{
	position:relative;
}
.input-inscription
{
	height:45px;
	padding:0 30px 0 40px;
	border-radius: 25px;
	box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
}

#button-wrapper
{
	display:flex;
	justify-content:center;
	width:100%;
}

.icon-input
{
	display: flex;
  	align-items: center;
	position:absolute;
	top:0;
	left:15px;
	height:100%;
	font-size:18px;
	color: #666666;
}

#form
{
	margin-bottom:50px;
}


/*  Upload Form */

.upload-form-header
{
	height:130px;
	color:#fff;
	padding:0px 55px;
	display:flex;
	align-items:center;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
	background: linear-gradient(79deg, rgba(58,132,221,1) 24%, rgba(105,191,226,1) 90%); 
}


.upload-wrapper
{
	padding: 0px 55px 30px;
	border-radius:10px;
}


#test-exif-form
{
	padding:0;
	border-radius:10px;
	margin-top:70px;
	background-color:white;
	box-shadow: 4px 7px 21px -9px rgba(0,0,0,0.75);
	min-height:600px;
}

.exif-form-wrapper
{
	margin-top:50px;
	margin-bottom:50px;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}

.test-wrapper
{
	height:150px;
	width:150px;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	background-color:#cacaca;
	transition: background-color 2s ease-in;
	border-radius:10px;
}

#flash-wrapper
{
	height:50px;
}

.test-wrapper i
{
	font-size:3em;
}

.valid
{
	background-color:#a1db80;
}

.invalid
{
	background-color:#dd6a6a;
}



/* 
==========================
Admin Panel
==========================
*/

#admin-sidebar
{
	background-color:#fff;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	border-bottom-left-radius: 25px;
}

#admin-title
{
	display:flex;
	justify-content:center;
	align-items:center;
	color:#fff;
	background: linear-gradient(79deg, rgba(58,132,221,1) 24%, rgba(105,191,226,1) 90%);  
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

#admin-nav
{
	padding:5px;
}

#admin-panel
{
	margin-top:50px;
	border-radius:30px;
	
}

.admin-pill
{
	padding:5px;
	border:2px solid blue;
	color:white;
}

.dashboard-card
{
	height: 300px;
	border-radius:10px;
	background-color:white;
	margin:20px;
	padding:15px;
	display:flex;
	flex-direction:column;
  	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-stats
{
	height: 120px;
	color:white;
	font-size:2.5rem;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-stats p
{
	font-size:1.5rem;
}

.card-stats:hover
{
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* Dashboard */

.dashboard-title
{
	display:flex;
	flex-direction:row;
	font-size:2.5rem;
	color:#8a8a8a;
}

.admin-hr
{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
}

#stats-photos
{
	background: linear-gradient(162deg, rgba(4,186,244,1) 33%, rgba(30,128,244,1) 100%); 
}
#stats-comments
{
	background: linear-gradient(162deg, rgba(90,203,238,1) 33%, rgba(80,154,244,1) 100%); 
}

#stats-likes
{
	background: linear-gradient(162deg, rgba(66,149,250,1) 28%, rgba(89,86,250,1) 92%); 
}

.dashboard-card-title
{
	padding-bottom:10px;
}

.dashboard-card-body
{
	flex:1;
}

.button-wrapper
{

	display:flex;
	justify-content:center;
	width:100%;
}



#clear-btn
{
	position:absolute;
	top:0;
	right:0;
	padding: 10px 10px;
	border-radius:10px;
	background-color:white;
	color: #aaa;
	cursor:pointer;
	font-size:1.5rem;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


#profile-wrapper
{
	padding: 20px 10px 30px 10px;
	/* background-color:red; */
}

#reports-wrapper
{
	min-height:500px;
}

.admin-tab
{
	min-height:500px;
	background-color: #dfdfdf;
}

#edit-tab
{
	padding:30px;
}

#img-report-wrapper
{
	position:relative;
	padding: 30px;
}

.img-single-report
{
	width:auto;
	margin-bottom:35px;
	box-shadow: 0px 11px 20px 1px rgba(0,0,0,0.3);
}

.image-reported-wrapper
{
	overflow:hidden;
	cursor:pointer;
}

.image-reported
{
	width:350px;
	height:225px;
	object-fit:cover;
	transition: transform .5s; /* Animation */
}

.image-reported:hover
{
	transform: scale(1.2); /* (120% Zoom) */
}

.img-info-panel
{
	background-color:white;
}

.admin-btn-panel
{
	display:flex;
	flex-direction:row;
	height:50px;
}

.admin-btn-container
{
	display:flex;
	justify-content:center;
	align-items:center;
	border: 1px solid #e7e7e7;
	width:50%;
}

.admin-btn
{
	border:0;
	background-color:white;
}

.empty-div
{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	width:100%;
	height:500px;
	font-size:2.2rem;
}

/* Member tab */

#members-tab
{
	padding:25px;
}

#members-tab-header
{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}

#members-card-wrapper
{
	display:flex;
	flex-direction:column;
}

.member-card
{
	height:100px;
	margin-top:20px;
	margin-bottom:10px;
	padding-left:15px;
	display:flex;
	flex-direction:row;
	align-items:center;
	background-color: #fff;
	border-radius: .25rem;
	border: 1px solid rgba(0,0,0,.125);
	box-shadow: 0 1px 1px rgba(97,108,121,.1),0 7px 18px 0 rgba(97,108,121,.13);
	transition: box-shadow .3s ease;
}

.member-card:hover
{
	background-color: #eeeeee;
	box-shadow: 0 1px 1px rgba(97,108,121,.1),0 7px 18px 0 rgba(21,111,170,.3);
}

.avatar-wrapper
{
	height:60px;
	width:60px;
	border:1px solid black;
}

.avatar-mini
{
	object-fit:cover;
}

#logs-tab
{
	padding:20px;
}

.logs-card
{
	height:100px;
	padding-left:15px;
	display:flex;
	flex-direction:column;
	align-items:center;
	background-color: #fff;
	box-shadow: 0 1px 1px rgba(97,108,121,.1),0 7px 18px 0 rgba(97,108,121,.13);
}
/* Edit Tab */

#edit-preview
{
	
}


#image-preview
{
	width:100%;
	height:auto;
}



/* 
==========================
Members Page
==========================
*/

#memberlist-container
{
	margin-top:60px;
	padding: 40px 55px 30px;
	border-radius:10px;
	min-height:640px;
	background-color:white;
	box-shadow: 4px 7px 21px -9px rgba(0,0,0,0.75);
	display:flex;
	flex-direction:column;
}

#memberlist
{
	flex:1;
}

.memberlist-card
{
	height:80px;
	margin-top:20px;
	margin-bottom:10px;
	padding-left:15px;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-between;
	background-color: #fff;
	border-radius: .25rem;
	border: 1px solid rgba(0,0,0,.125);
	box-shadow: 0 1px 1px rgba(97,108,121,.1),0 7px 18px 0 rgba(97,108,121,.13);
	transition: box-shadow .3s ease;
}

.memberlist-card:hover
{
	background-color: #eeeeee;
	box-shadow: 0 1px 1px rgba(97,108,121,.1),0 7px 18px 0 rgba(21,111,170,.3);
}

.memberlist-card:hover .addfriend-btn
{
	background-color:#55a2f4;
}

.addfriend-btn-wrapper
{
	padding-right:15px;
}

.addfriend-btn
{
	border-radius:50%;
	border:0;
	padding: .45rem .55rem;
	color: white;
	background-color:#c9c9c9;
	line-height:1.5;
	transition: all .4s;
}


/* 
==========================
Profile Page
==========================
*/

#profile-container
{
	box-shadow: 0 1px 1px rgba(97,108,121,.1),0 11px 20px 1px rgba(21,111,170,.3);
	background-color:#FFFFFF;
	margin-bottom:60px;
}

#profile-nav
{
	z-index:2;
	position:absolute;
	right:30px;
	top:70px;
	line-height:20px;
}

.profile-btn
{
	display: block;
	padding:15px;
	margin-right:10px;
	border-radius:50%;
	color:white;
	font-size:1.4em;
	background-color:#686868;
	cursor: pointer;
}

.profile-btn.active
{
	background-color:#007bff;
}

.avatar-form
{
	line-height:50px;
	display:flex;
	align-items:center;
}

#upl-avatar-form
{
	margin: 50px 0px 50px 0px;
}

.add-avatar-pnl
{
	height:170px;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	margin:0;
  	
}

#avatar-preview-ctn
{
	border: 1px solid rgba(0,0,0,.125);
}




.collapsing
{
	transition: height 1s ease;
}

#tab-profile-settings
{
	/*display:none;*/
}

/* Overlay */


#profile-content-header
{
	position:relative;
	height:80px;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	color:#fff;
	border-top-right-radius:15px;
	border-top-left-radius:15px;
	background: linear-gradient(79deg, rgba(58,132,221,1) 24%, rgba(105,191,226,1) 90%); 
}

#profile-content-header h2
{
	line-height:50px;
	font-family:westhouse;
	font-size:3.6em;
	/* text-align:center; 
	-webkit-text-stroke: 1px black;
   	text-shadow:
       	3px 3px 0 #000,
     	-1px -1px 0 #000,  
      	1px -1px 0 #000,
      	-1px 1px 0 #000,
      	1px 1px 0 #000;
    */
}

#profile-content-wrapper
{
	display:flex;
	flex-direction:column;
	position:relative;
	margin-top:60px;
	width:60%;
	height:850px;
	padding:0;
	background-color: #ececec;
	z-index: 3;
	border-radius: 15px;
}

.myimgs-icon i
{
	font-size:2.2em;
}

.myimgs-icon
{
	padding:5px;
	margin-right:25px;
}

.profile-photos-card
{
	margin:30px 35px;
	/*box-shadow: 0px 11px 20px 1px rgba(0,0,0,0.3);*/
	box-shadow: 0 1px 1px rgba(97,108,121,.1),0 7px 18px 0 rgba(97,108,121,.13);
	transition: box-shadow .3s ease;
}

.profile-photos-card:hover
{
	box-shadow: 0 1px 1px rgba(97,108,121,.1),0 7px 18px 0 rgba(21,111,170,.3);
}

.profile-photos-card .card-body
{
	padding: 1rem 1.55rem;
}

.profile-photos-card .card-title
{
	margin-bottom: .50rem;
}

.profile-photo
{
	width:350px;
	height: 196px; /* ratio 16:9 */
	object-fit:cover;
}

.profile-photo-wrapper
{
	position:relative;
}

.card-overlay 
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: rgba(0,0,0, 0.4);
}

.profile-photo-wrapper:hover .card-overlay
{
  	opacity: 1;
}

#thumbnail
{
	cursor: pointer;
}


/* Content Placeholder */
.content-wrapper
{
	background-color:white;
}

.my-photos
{
	height:100%;
	width:100%;
	object-fit: cover;
}

/* New Profile */

#profile-container
{
	border-radius:10px;
}

#np-header
{
	position:relative;
	background-image: linear-gradient(to bottom, #7db9e8, #6aade4, #56a1e0, #4195dc, #2989d8);
	display:flex;
	align-items:center;
	justify-content:center;
	line-height:20px;
	border-radius: 0px;
}

#np-header h1
{
	font-family:westhouse;
	font-size:4.5em;
	color:white;
}

#np-infos
{
	background-color:white;
	border-radius:0px;
}

#profile-avatar
{
	width: 160px;
	height: 160px;
	object-fit: cover;
	position: absolute;
	transform: translate3d(-50%, -50%, 0);
	left:50%;
	background:#fff;
	box-shadow: 0 5px 7px rgba(0,0,0,0.1);
	border-radius:50%;
}

#np-tab
{
	height:400px;
}

#np-body
{
	background-color:white;
	border-radius:0px;
	min-height:600px;
}

#np-navigation
{
	padding-top:25px;
	padding-bottom:25px;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
}

#np-tab-panel
{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	width:50%;
}

.profile-pills
{
	padding:15px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

.profile-pills.active
{
	box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px rgba(0,123,255,.6);
}

.profile-pills:hover
{
	background-color: #f2f2f2;
}

#tab-edit-img
{
	display:none;
}

#tab-edit-img.show-edit
{
	display:flex;
	flex-direction:row;
}

#showAllImages
{
	padding:5px;
	border-radius:50%;
	background-color: #007bff;
	color:white;
	line-height:10px;
}



/* 
==========================
 Profile Image Viewer
==========================
*/

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 5;
  overflow:hidden;
}

.overlay-profile 
{
  position: fixed;
}

.photo-infocard
{
	background-color:#07a1ff;
	color:white;
}

#image-name
{
	font-family:roboto;
}

#social-wrapper
{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}

.social-card
{
	padding:10px;
	background-color: #fff;
	border-radius: .25rem;
	border: 1px solid rgba(0,0,0,.125);
	box-shadow: 0 1px 1px rgba(97,108,121,.1),0 7px 18px 0 rgba(97,108,121,.13);
	transition: box-shadow .3s ease;
}

.social-card:hover
{
	background-color: #eeeeee;
	box-shadow: 0 1px 1px rgba(97,108,121,.1),0 7px 18px 0 rgba(21,111,170,.3);
}

#content-wrapper
{
	position:relative;
	max-height:800px;
	background-color: #d2d2d2;
	margin-top:5rem;
	z-index: 3;
}

#image-navigation
{
	display:flex;
	align-items:center;
	justify-content:center;
	margin-top:25px;
}

#myphoto-wrapper
{
	position:absolute;
	display: none;
	padding:0;
	align-items: center;
	justify-content: center;
	z-index:4;
}

#myphoto
{
	width:100%;
	height:auto;
	margin:auto;
	position:relative;
}

#myphoto-panel
{
	position:absolute;
	bottom:0;
	height:50px;
	width:100%;
	background-color: rgba(191,191,191, 0.3);
}

#myphoto-panel i
{
	font-size:25px;
	color:#dfdfdf;
}


#icon-exit
{
	position:absolute;
	top:0;
	right:0;
	font-size:30px;
	padding:10px;
	cursor: pointer;
	z-index: 2;
	transition: color .5s;
}

.icon-exit
{
	position:absolute;
	top:-30px;
	right:-50px;
	font-size:40px;
	padding:10px;
	cursor: pointer;
	z-index: 2;
	transition: color .8s;
	color:#ececec;
}



#cross-admin
{
	position:absolute;
	top:-30px;
	right:-50px;
	font-size:40px;
	padding:10px;
}


.icon-exit-full
{
	position:absolute;
	top:0;
	right:0;
	font-size:30px;
	cursor: pointer;
	z-index: 2;
	transition: color .8s;
}

.icon-exit:hover
{
	color:white;
}

#image-wrapper
{
	position:relative;
	/* width:75%; */
	display:flex;
	align-items:center;
	padding:0;
	background-color:black;
}

#image-wrapper:hover #button-panel
{
	opacity:1;
	visibility:1;
}

#admin-image-wrapper
{
	padding:10px 10px;
	display:flex;
	align-items:center;
	justify-content:center;
	position:relative;
	height:100%;
	margin-top:70px;
	background-color:white;
}

#image-midsize
{
	width:100%;
	cursor: pointer;
}

#button-panel
{
	position:absolute;
	bottom:0;
	height:50px;
	width:100%;
	opacity:0;
	visibility:0;
	background: rgb(61,61,61);
	background: linear-gradient(0deg, rgba(61,61,61,0.7539216370141807) 29%, rgba(255,255,255,0) 100%);
	transition: opacity .60s;
}


#comments-wrapper
{
	margin-top:10px;
	overflow:auto;
	height:450px;
}

.comment
{
	position:relative;
	margin-bottom: 10px;
	display:flex;
	flex-direction:row;
}

.comment:hover
{
	background-color:#eeeeee;
}

.comment:hover .comment-options
{
	opacity:1;
}

.comment-options
{
	position:absolute;
	top:20px;
	right:10px;
	cursor:pointer;
	opacity:0;
	transition: opacity .20s;
}

.comment-options i
{
	color: #ccc;
}


.comment-options i:hover
{
	color: #1caad9;
}

.comment-options:hover .options-menu
{
	opacity:1;
	visibility:visible;
}

.delete-comment-btn
{
	border:0;
	background-color:white;
}

.comment-avatar
{
	padding:20px 0px 20px 20px;
}

.options-menu
{	
	padding:10px;
	position:absolute;
	top:15px;
	right:10px;
	z-index:2;
	list-style:none;
	opacity:0;
	visibility:hidden;
	box-shadow: 0 1px 1px rgba(0,0,0,.25);
	background-color:white;
	color:black;
}


.comment-form-wrapper
{
	margin-top:30px;
	display:flex;
	height:50px;
	flex-direction:row;
	justify-content:space-around;
	align-items:center;
}

#comment-btn
{
	background-color:#07a1ff;
	border-radius:50%;
	margin:0;
}

#comment-btn-wrapper
{
	height:100%;
	display:flex;
	align-items:center;
}

.social-button
{
	border-radius:50%;
	border:0;
	padding: .375rem .75rem;
	color: #aaa;
	line-height:1.5;
	transition: color .4s;
}

.social-button:hover
{	
	color: #666;
}

.like.active
{
	color:#e23b3b;
}

.report.disabled
{
	color:#e23b3b;
}


#imgPanel
{
	height:100%;
	background-color: #d2d2d2;
	padding-right:0px;
}

.input-comment
{
	border-radius: 15px;
	box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
}
